<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>

<div id="app">
	<input type="text" v-model="userInput">
	<button @click="addTodo">Add Todo</button>

	<ul>
		<li v-for="todo in todos" @click="removeTodo(todo)">{{ todo.value }}</li>
	</ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.core.min.js"></script>
<script>
    var vm = new Vue( {
        el : '#app',
        data : {
            todos : [],
            userInput : ''
        },
        methods : {
            addTodo() {
                if ( this.userInput.trim() == '' ) {
                    return;
                }

                var newTodo = { id : _.uniqueId(), value : this.userInput };
                this.todos.push( newTodo );
                console.log( this.todos );
            },
            removeTodo( todo ) {
                var id = todo.id;
                this.todos.forEach( ( todo, index ) => {
                    if ( todo.id === id ) {
                        this.todos.splice( index, 1 )
                        return;
                    }
                } )
            }
        }
    } )


</script>
</body>
</html>